<div class="col-md-12">
    <div class="row">
        <form class="form-inline" action="/buscarMaterias" method="GET">
            <div class="input-group col-md-12">
                <input type="text" class="form-control" placeholder="Buscar Materia..." name="materiaBuscada">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </form>
    </div>
    <br>
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Materias Impartidas</h2>
            </div>
            <div class="table-responsive" style="height: 250px; overflow: scroll">
                <table class="table table-striped">
                    <thead>
                        <tr>

                            <th>#</th>
                            <th>Nombre</th>
                            <th>Grupo</th>
                            <th>Codigo</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>

                    </thead>
                    <tbody>
                        <% var count=1; %>
                        <% for(var i=0; i<materias.length; i++){ %>
                        <% for(var j=0; j<materias[i].MateriasGruposDeMateria.length; j++){ %>
                        <tr>
                            <th><%= count%></th>
                            <td><%= materias[i].nombreMateria%></td>
                            <td><%= materias[i].MateriasGruposDeMateria[j].grupoMateria%></td>
                            <td><%= materias[i].codigoMateria%></td>
                            <td><a href="/editarMateria?idMateria=<%= materias[i].idMateria%>&grupoMateria=<%= materias[i].MateriasGruposDeMateria[j].grupoMateria%>" data-toggle="tooltip" title="Editar Materia"><button type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></button></a></td>
                            <td><a href="/Materia/borrarMateria?idMateria=<%= materias[i].idMateria%>" data-toggle="tooltip" title="Eliminar Materia"><button type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-remove"></span></button></a></td>
                            <td><a href="/Grupo/borrarGrupo?idMateria=<%= materias[i].idMateria%>&grupoMateria=<%= materias[i].MateriasGruposDeMateria[j].grupoMateria%>" data-toggle="tooltip" title="Eliminar Grupo"><button type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-erase"></span></button></a></td>
                            <td><a href="/asignarSW?idMateria=<%= materias[i].idMateria%>" data-toggle="tooltip" title="Asiganar Software"><button type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-cd"></span></button></a></td>
                        </tr>
                        <% var count=count+1; %>
                        <%  } %>
                        <%  } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <a href="/crearMateria"><button type="button" class="btn btn-primary">Agregar Materia</button></a>
    </div>
</div>
