<div class="col-md-12">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Laboratorios Disponibles</h2>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Aula</th>
                            <th>Capacidad</th>
                            <th>Ordenadores</th>
                            <th>Proyector</th>
                            <th>Ubicacion</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% var count=1; %>
                        <% for(var i=0; i<laboratorio.length; i++){ %>
                        <tr>
                            <th><%= count%></th>
                            <td><%= laboratorio[i].nombreLaboratorio%></td>
                            <td><%= laboratorio[i].numAula%></td>
                            <td align="center"><%= laboratorio[i].capacidad%></td>
                            <td align="center"><%= laboratorio[i].numOrdenadores%></td>
                            <td align="center"><%= laboratorio[i].proyectorEmpotrado%></td>
                            <td><%= laboratorio[i].descripcionUbicacion%></td>
                            <td><a href="/editarLaboratorio?idLaboratorio=<%= laboratorio[i].idLaboratorio%>" data-toggle="tooltip" title="Editar Laboratorio"><button type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></button></a></td>
                            <td><a href="/Laboratorio/borrarLaboratorio?idLaboratorio=<%= laboratorio[i].idLaboratorio%>" data-toggle="tooltip" title="Eliminar Laboratorio"><button type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-remove"></span></button></a></td>
                            <td><a href="/asignarMateria" data-toggle="tooltip" title="Asignar Una Materia"><button type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-book"></span></button></a></td>
                            <td><a href="/asignarSO" data-toggle="tooltip" title="Asignar Sistema Operativo"><button type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-cd"></span></button></a></td>
                        </tr>
                        <% var count=count+1; %>
                        <%  } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <a href="/agregarLaboratorio"><button type="button" class="btn btn-primary">Agregar Laboratorio</button></a>
    </div>
</div>