<!DOCTYPE html>
<html>
    <head>
        <title>Sistema de Gestion de Software</title>

        <!-- Viewport mobile tag for sensible mobile support -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


        <!--
Stylesheets and Preprocessors
==============================

You can always bring in CSS files manually with `<link>` tags, or asynchronously
using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
of Sails' conventional asset pipeline (boilerplate Gruntfile).

By default, stylesheets from your `assets/styles` folder are included
here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
are supported. In production, your styles will be minified and concatenated into
a single file.

To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
For example, here are a few things you could do:

+ Change the order of your CSS files
+ Import stylesheets from other directories
+ Use a different or additional preprocessor, like SASS, SCSS or Stylus
-->

        <!--STYLES-->
        <link rel="stylesheet" href="/styles/bootstrap-theme.css">
        <link rel="stylesheet" href="/styles/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/styles/bootstrap.css">
        <link rel="stylesheet" href="/styles/bootstrap.min.css">
        <!--STYLES END-->
        <style>

            .nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
                background-color: <%= (tituloError == 'error') ? 'red' :''%>;
                color: white;
            }

            .nav>li>a:hover,
            .nav>li>a:focus {
                text-decoration: none;
                background-color: skyblue;
            }

        </style>
    </head>

    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <img class="img-responsive" alt="Brand" src="/images/LogoP48.png">

                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="#">L-DICC</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Nombre de Usuario X <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Opciones del usuario</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Salir</a></li>
                            </ul>
                        </li>
                    </ul>


                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <div class="container" style="display: <%= (title == 'formulario'||title=='gracias') ? 'none' :''%>">
            <div class="row">
                <br>
                <div class="col-md-5" align="left">
                    <h1 style="display:<%= (title == 'home'||title=='asignacion') ? 'inline' :'none'%>">Home</h1>
                    <h1 style="display:<%= (title == 'materias'||title=='crearMaterias'||title=='editarMaterias'||title=='asignarSW') ? 'inline' :'none'%>">Materias</h1>
                    <h1 style="display:<%= (title == 'laboratorios'||title=='crearLaboratorios'||title=='editarLaboratorios'||title=='asignarSO'||title=='asignarMateria') ? 'inline' :'none'%>">Laboratorios</h1>
                    <h1 style="display:<%= (title == 'software'||title=='crearSoftware'||title=='editarSoftware') ? 'inline' :'none'%>">Software</h1>
                    <h1 style="display:<%= (title == 'sistemasOperativos'||title=='crearSO'||title=='editarSO') ? 'inline' :'none'%>">Sistemas Operativos</h1>
                    <h1 style="display:<%= (title == 'envioFormulario'||title=='crearProfesor'||title=='editarProfesor'||title=='profesores') ? 'inline' :'none'%>">Profesores</h1>
                </div>
                <br>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <div class="jumbotron">
                        <ul class="nav nav-pills nav-stacked">
                            <li role="presentation" class="<%= (title == 'home'||title=='asignacion') ? 'active' :''%>"><a href="/home">Home <span class="<%= (title == 'home'||title=='asignacion') ? 'glyphicon glyphicon-triangle-right' :''%>"></span></a></li>
                            <li role="presentation" class="<%= (title == 'materias'||title=='crearMaterias'||title=='editarMaterias'||title=='asignarSW') ? 'active' :''%>"><a href="/materias">Materias <span class="<%= (title == 'materias'||title=='crearMaterias'||title=='editarMaterias'||title=='asignarSW') ? 'glyphicon glyphicon-triangle-right' :''%>"></span></a></li>
                            <li role="presentation" class="<%= (title == 'laboratorios'||title=='crearLaboratorios'||title=='editarLaboratorios'||title=='asignarSO'||title=='asignarMateria') ? 'active' :''%>"><a href="/laboratorios">Laboratorios <span class="<%= (title == 'laboratorios'||title=='crearLaboratorios'||title=='editarLaboratorios'||title=='asignarSO'||title=='asignarMateria') ? 'glyphicon glyphicon-triangle-right' :''%>"></span></a></li>
                            <li role="presentation" class="<%= (title == 'software'||title=='crearSoftware'||title=='editarSoftware') ? 'active' :''%>"><a href="/software">Software <span class="<%= (title == 'software'||title=='crearSoftware'||title=='editarSoftware') ? 'glyphicon glyphicon-triangle-right' :''%>"></span></a></li>
                            <li role="presentation" class="<%= (title == 'sistemasOperativos'||title=='crearSO'||title=='editarSO') ? 'active' :''%>"><a href="/sistemasO">Sistemas Operativos <span class="<%= (title == 'sistemasOperativos'||title=='crearSO'||title=='editarSO') ? 'glyphicon glyphicon-triangle-right' :''%>"></span></a></li>
                            <li role="presentation"class="<%= (title == 'envioFormulario'||title=='crearProfesor'||title=='editarProfesor'||title=='profesores') ? 'active' :''%>"><a href="/profesores">Profesores <span class="<%= (title == 'envioFormulario'||title=='crearProfesor'||title=='editarProfesor'||title=='profesores') ? 'glyphicon glyphicon-triangle-right' :''%>"></span></a>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8">
                    <%- body %>
                </div>
            </div>
        </div>
        <div class="container" style="display: <%= (title == 'formulario'||title=='gracias') ? '' :'none'%>">
            <%- body %>
        </div>

        <!--
Client-side Templates
========================

HTML templates are important prerequisites of modern, rich client applications.
To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
that you load these templates client-side.

By default, your Gruntfile is configured to automatically load and precompile
client-side JST templates in your `assets/templates` folder, then
include them here automatically (between TEMPLATES and TEMPLATES END).

To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
For example, here are a few things you could do:

+ Import templates from other directories
+ Use a different template engine (handlebars, jade, dust, etc.)
+ Internationalize your client-side templates using a server-side
stringfile before they're served.
-->

        <!--TEMPLATES-->
        
        <!--TEMPLATES END-->


        <!--

Client-side Javascript
========================

You can always bring in JS files manually with `script` tags, or asynchronously
on the client using a solution like AMD (RequireJS).  Or, if you like, you can
take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

By default, files in your `assets/js` folder are included here
automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
CoffeeScript (.coffee) are supported. In production, your scripts will be minified
and concatenated into a single file.

To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
For example, here are a few things you could do:

+ Change the order of your scripts
+ Import scripts from other directories
+ Use a different preprocessor, like TypeScript

-->

        <!--SCRIPTS-->
        <script src="/js/dependencies/sails.io.js"></script>
        <script src="/js/jquery.js"></script>
        <script src="/js/dropdown.js"></script>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/npm.js"></script>
        <!--SCRIPTS END-->
    </body>
</html>
