<div class="col-md-12">
    <br>
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">Software Disponible</h2>
            </div>
            <div class="table-responsive" style="height: 250px; overflow: scroll">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>
                                <form class="form-inline" action="" method="GET">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Nombre...">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                                        </span>
                                    </div>
                                </form>
                            </th>
                            <th>
                                <form class="form-inline" action="" method="GET">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Servicio...">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                                        </span>
                                    </div>
                                </form>
                            </th>
                            <th>
                                <form class="form-inline" action="" method="GET">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Categoria...">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                                        </span>
                                    </div>
                                </form>
                            </th>
                            <th>Version</th>
                            <th>Año</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% var count=1; %>
                        <% for(var i=0; i<software.length; i++){ %>
                        <tr>
                            <th><%= count%></th>
                            <td><%= software[i].nombrePrograma%></td>
                            <td><%= software[i].servicio%></td>
                            <td><%= software[i].categoria%></td>
                            <td><%= software[i].versionProg%></td>
                            <td><%= software[i].anioProg%></td>
                            <td><a href="/editarSoftware?idPrograma=<%= software[i].idPrograma%>" data-toggle="tooltip" title="Editar Software"><button type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span></button></a></td>
                            <td><a href="/Programa/borrarPrograma?idPrograma=<%= software[i].idPrograma%>" data-toggle="tooltip" title="Eliminar Software"><button type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-remove"></span></button></a></td>
                        </tr>
                        <% var count=count+1; %>
                        <%  } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <a href="/crearSoftware"><button type="button" class="btn btn-primary">Agregar Software</button></a>
    </div>
</div>
